<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HideNetworkInfo</key>
	<false/>
	<key>HideSpeedTest</key>
	<false/>
	<key>HideWiFiScanner</key>
	<false/>
	<key>HideCoverageMap</key>
	<false/>
	<key>HideNetworkHistory</key>
	<false/>
	<key>HideExportInfo</key>
	<false/>
	<key>HideHelp</key>
	<false/>
	<key>HideRunAll</key>
	<false/>
	<key>HideDebugExport</key>
	<true/>
</dict>
</plist>
