<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HideDashboard</key>
	<false/>
	<key>HideNetwork Scanner</key>
	<false/>
	<key>HideSpeed Test</key>
	<false/>
	<key>HideCoverage Map</key>
	<false/>
	<key>HideNetwork History</key>
	<false/>
	<key>HideReal-time Monitor</key>
	<false/>
	<key>HideHelp</key>
	<false/>
	<key>HideExport</key>
	<false/>
	<key>HideRunAll</key>
	<false/>
	<key>HideDebugExport</key>
	<true/>
</dict>
</plist>